---
import Image from "astro/components/Image.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
import logoLight from "../../../public/logoLight.webp";
import logoDark from "../../../public/logo.webp";
---


<style>
  .nav-link-active {
    @apply font-bold;
  }

  .nav-link-active-light {
    @apply text-blue-950; /* Color para el modo claro */
  }

  .nav-link-active-dark {
    @apply text-blue-500; /* Color para el modo oscuro */
  }

  .nav-link-active-light:hover{
    @apply text-blue-700;
  }

  .nav-link-active-dark:hover{
    @apply text-blue-300;
  }

</style>



<!-- Header -->
<header
  class="bg-transparent transition-colors duration-300 z-50"
>
  <div class="container py-4 mx-auto px-4 flex justify-between items-center">
    <!-- Logo -->
    <a
      href="/"
      class="text-gray-900 dark:text-white transition-colors"
    >
      <Image
        id="logo-light"
        class="w-[200px] sm:w-[200px] max-sm:w-[150px] max-sm:my-1 dark:hidden"
        alt="Logo Red Global Restauracion Claro"
        src={logoLight}
        loading="eager"
      />
      <!-- Imagen para tema oscuro -->
      <Image
        id="logo-dark"
        class="w-[200px] sm:w-[200px] max-sm:w-[150px] max-sm:my-1 hidden dark:block"
        alt="Logo Red Global Restauracion Oscuro"
        src={logoDark}
        loading="eager"
      />
    </a>

    <!-- Links -->
    <nav class="hidden md:flex items-center space-x-12 ">
      <!-- Agrega items-center -->
      <a
        href="/"
        class="text-center nav-link text-gray-950 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
        >Inicio</a
      >
      <a
        href="/sobreNosotros"
        class="text-center nav-link text-gray-950 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
        >Sobre Nosotros</a
      >
      <a
        href="/coordinaciones"
        class="text-center nav-link text-gray-950 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
        >Coordinaciones</a
      >
      <a
        href="/aliados"
        class="text-center nav-link text-gray-950 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
        >Aliados</a
      >
      <a
        href="/contactos"
        class="text-center nav-link text-gray-950 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
        >Contactanos</a
      >
      <ThemeSwitch />
    </nav>

    <!-- Mobile Menu Button -->
    <button
      id="mobileMenuButton"
      class="md:hidden text-gray-600 dark:text-gray-300 focus:outline-none"
      aria-label="Abrir menú móvil"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobileMenu"
    class="md:hidden fixed top-0 left-0 w-full h-full bg-white dark:bg-black shadow-lg transition-transform transform translate-x-full z-10"
  >
    <div class="flex justify-end p-4">
      <button
        id="mobileMenuClose"
        class="text-gray-600 dark:text-gray-300 focus:outline-none"
        aria-label="Cerrar menú móvil"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <nav class="flex flex-col items-center mt-8">
      <a
        href="/"
        class="nav-link text-gray-600 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors py-2 text-lg"
        >Inicio</a
      >
      <a
        href="/sobreNosotros"
        class="nav-link text-gray-600 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors py-2 text-lg"
        >Sobre Nosotros</a
      >
      <a
        href="/coordinaciones"
        class="nav-link text-gray-600 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors py-2 text-lg"
        >Coordinaciones</a
      >
      <a
        href="/aliados"
        class="nav-link text-gray-600 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors py-2 text-lg"
        >Aliados</a
      >
      <a
        href="/contactos"
        class="nav-link text-gray-600 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors py-2 text-lg"
        >Contactanos</a
      >
      <ThemeSwitch />
    </nav>
  </div>
</header>

<script>
  // Toggle Mobile Menu
  document.getElementById("mobileMenuButton").addEventListener("click", () => {
    const mobileMenu = document.getElementById("mobileMenu");
    mobileMenu.classList.toggle("translate-x-full");
  });

  // Close Mobile Menu
  document.getElementById("mobileMenuClose").addEventListener("click", () => {
    const mobileMenu = document.getElementById("mobileMenu");
    mobileMenu.classList.add("translate-x-full");
  });

  const currentPath = window.location.pathname; // Obtén la URL actual
    const currentHash = window.location.hash; // Obtén el hash actual si es necesario

    // Selecciona todos los enlaces del nav
    const navLinks = document.querySelectorAll('.nav-link');

    function updateActiveLinks() {
      navLinks.forEach(link => {
        // Remueve las clases activas para garantizar la actualización correcta
        link.classList.remove('nav-link-active-dark', 'nav-link-active-light', 'nav-link-active');

        // Obtén el href de cada enlace
        const linkPath = link.getAttribute('href');

        // Compara la URL actual o el hash con el href del enlace
        if (currentPath === linkPath || (currentPath === '/' && linkPath === '/') || currentHash === linkPath) {
          // Añade la clase activa general
          link.classList.add('nav-link-active');
          
          // Añade la clase activa dependiendo del modo oscuro
          if (document.documentElement.classList.contains('dark')) {
            link.classList.add('nav-link-active-dark');
          } else {
            link.classList.add('nav-link-active-light');
          }
        }
      });
    }

    // Inicializar los enlaces activos en la carga
    updateActiveLinks();

    // Escuchar cambios en el modo oscuro
    const observer = new MutationObserver(updateActiveLinks);
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });


</script>
