---
import Layout from "../layouts/Layout.astro";
import InteractiveSection from "../components/ui/InteractiveSection.astro";
---

<Layout title="Coordinaciones">
    <section class="py-28 flex justify-center">
        <InteractiveSection imageUrl="/nosotros/Global.webp" />
    </section>
</Layout>
