---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Red Global Restauración">
	<main>
		<h1 class="text-white text-4xl font-bold text-center my-4 shadow-lg">
			Red Global Restauracion 🚀
		</h1>
	</main>
</Layout>

