---
import Layout from "../layouts/Layout.astro";
import AnimatedSection from "../components/utilities/AnimatedSection.astro";
import BoxInfo from "../components/ui/BoxInfo.astro";
import Carrusel from "../components/ui/Carrusel.astro";
import Button from "../components/ui/Button.astro";
import { Image } from "astro:assets";
---

<Layout title="Red Global Restauración">
	<section
		class="bg-[url('/portada.jpg')] max-md:bg-[url('/portadaTelefono.jpg')] bg-cover bg-center bg-no-repeat relative -z-10"
	>
		<div
			class="container min-h-[110vh] mx-auto -mt-32 sm:pb-6 lg:pb-10 flex items-center justify-start bg-opacity-35"
		>
			<div
				class="max-w-5xl max-sm:mb-20 lg:mb-24 lg:pt-11 mx-auto lg:mx-16 2xl:mx-16 text-start"
			>
				<h1
					class="text-dark dark:text-white text-3xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-4xl font-extrabold leading-tight"
				>
					<span
						class="block font-levenim text-4xl sm:text-5xl md:text-6xl lg:text-6xl xl:text-6xl"
					>
						RED GLOBAL
					</span>
					<span
						class="block font-bebas text-7xl sm:text-7xl md:text-8xl lg:text-8xl xl:text-9xl text-blue-800 dark:text-orange-300"
					>
						RESTAURACIÓN
					</span>
				</h1>

				<p
					class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-gray-700 dark:text-gray-300 font-light max-w-3xl"
				>
					Iglesia Metodista de Venezuela
				</p>
			</div>
		</div>
	</section>

	<section
		class="bg-gradient-to-bl from-purple-50 via-white to-blue-800/15 dark:from-cyan-950 dark:via-black dark:to-gray-900"
	>
		<section
			class="flex flex-col md:flex-row items-center justify-center mb-6 sm:pt-16 md:pt-20 lg:pt-24 px-4 sm:px-6 lg:px-8"
		>
			<article class="max-w-md md:max-w-2xl lg:max-w-5xl mx-auto py-10 max-sm:pt-16 max-sm:py-0">
				<h2
					class="font-bebas text-5xl md:text-5xl lg:text-6xl text-center text-dark dark:text-white mb-8"
				>
					Quienes somos
				</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
					<figure class="order-2 md:order-1">
						<Image
							src="/Obispo-Carlos-Pirona-y-Maria.webp"
							alt="Obispo Carlos y Dra. Maria de Pirona"
							width={600}
							height={400}
							class="rounded-lg shadow-lg w-full max-w-[600px] h-auto object-cover"
							loading="lazy"
						/>
					</figure>
					<div class="order-1 md:order-2">
						<p
							class="text-lg text-justify leading-relaxed text-dark dark:text-white"
						>
							La familia Pirona lleva más de 30 años trabajando en
							pos de la restauración familiar, formación de
							ministros y plantación de iglesias a nivel global.
							Así como también la dirección de seminarios bíblicos
							y la fundación de centros de asistencia médicos y
							sociales a nivel nacional.
						</p>
						<p
							class="text-lg text-justify leading-relaxed text-dark dark:text-white mt-4"
						>
							Sirven en Venezuela así como en las naciones junto a
							su familia con la visión de "familias restauradas y
							apasionadas alcanzando las naciones para Cristo."
						</p>
						<p
							class="text-lg text-center leading-relaxed text-dark dark:text-white mt-10 lg:px-6"
						>
							<strong class="block font-bold">
								Obispo Carlos y Dra. Maria de Pirona
							</strong>
							<span class="block">
								Directores de la Red Global Restauración Iglesia
								Metodista de Venezuela
							</span>
						</p>
					</div>
				</div>
			</article>
		</section>

		<section class="py-28">
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
				<h2
					class="text-5xl md:text-5xl lg:text-6xl font-bebas text-black dark:text-white mb-12"
				>
					Nuestros Fundamentos
				</h2>
				<div
					class="flex flex-wrap justify-center gap-8 items-center"
				>
					<!-- Fundamento 1 -->
					<BoxInfo
						title="ADORO"
						info="Ser un adorador íntimo para hacer una adoración transformadora."
						coverUrl="/Fundamentos/Adoro.webp"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 384 512"
							fill="currentColor"
							class="w-20 h-20 fill-black dark:fill-white"
							>
							<path
								d="M256 128c35.4 0 64-28.7 64-64S291.4 0 256 0s-64 28.7-64 64 28.7 64 64 64zm-30.6 169.8c14.1 16.7 39 19.1 56 5.2l88-72c17.1-14 19.6-39.2 5.6-56.3-14-17.1-39.2-19.6-56.3-5.6l-57.4 47-38.9-46.3c-15.4-18.4-39.2-27.9-64-25.3-24.2 2.5-45.3 16.3-56.4 36.9l-49.4 92c-23.4 43.6-8.7 96.4 34.2 123.8L131.6 432H40c-22.1 0-40 17.9-40 40s17.9 40 40 40h208c34.1 0 53.8-42.8 28.3-68.3L166.4 333.9l34.8-64.9 24.2 28.8z"
							></path>
						</svg>
					</BoxInfo>
					<!-- Fundamento 2 -->
					<BoxInfo
						title="SIRVO"
						info="Ser un servidor influyente para hacer una iglesia de excelencia."
						coverUrl="/Fundamentos/Sirvo.webp"
					>
						<svg
							version="1.1"
							viewBox="0 0 550.54 413"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							class="w-16 h-16 fill-black dark:fill-white"
						>
							<path
								d="M0 0 C5.54232632 3.23019019 9.36854835 7.25570874 11.625 13.3125 C11.85151736 16.03563266 11.76678087 18.5714031 11.625 21.3125 C12.883125 21.374375 14.14125 21.43625 15.4375 21.5 C48.17015432 24.90677415 78.97381464 42.42735984 102.25292969 64.99169922 C103.40278149 66.09858503 104.57752078 67.17953815 105.7578125 68.25390625 C133.59667255 94.28731721 146.12268932 131.52532738 150.625 168.3125 C151.64980469 168.33828125 152.67460937 168.3640625 153.73046875 168.390625 C155.09118699 168.44693058 156.45186243 168.50427737 157.8125 168.5625 C158.48603516 168.57667969 159.15957031 168.59085938 159.85351562 168.60546875 C164.68236189 168.84102223 167.21827656 169.89936088 170.625 173.3125 C172.6927714 177.4480428 171.89864058 182.76853868 171.9375 187.3125 C171.96650391 188.41207031 171.99550781 189.51164063 172.02539062 190.64453125 C172.11856705 202.7287966 167.9022309 212.75576345 159.51953125 221.51171875 C154.97286475 225.74536173 150.42395297 229.04675822 144.625 231.3125 C143.8384714 231.65325876 143.05194281 231.99401752 142.24158001 232.34510231 C137.06167823 233.73067238 132.08022167 233.59460432 126.7401886 233.57992554 C125.53409177 233.58445665 124.32799495 233.58898776 123.08534974 233.59365618 C119.74520527 233.60411694 116.40527634 233.60562765 113.06513083 233.60326743 C109.45965959 233.60285885 105.85422033 233.6139025 102.24876404 233.62338257 C95.18727274 233.6399854 88.12581483 233.64549182 81.06430564 233.64660732 C75.32226102 233.64755828 69.5802274 233.65167096 63.83818626 233.65800858 C47.54944346 233.67562019 31.26072699 233.68484775 14.97197459 233.68334763 C13.65517212 233.68322776 13.65517212 233.68322776 12.31176758 233.68310547 C10.99335226 233.68298283 10.99335226 233.68298283 9.64830228 233.68285771 C-4.58968833 233.68204516 -18.82757307 233.70117507 -33.06553306 233.7293822 C-47.6937942 233.75813323 -62.32200374 233.77192123 -76.95029384 233.77019465 C-85.15936397 233.76953144 -93.36832315 233.77499314 -101.57736778 233.79655075 C-108.56823516 233.81479193 -115.55894132 233.81908598 -122.54982223 233.8055319 C-126.11378351 233.79901655 -129.67743575 233.79883252 -133.24136734 233.8162384 C-137.11281015 233.83495085 -140.9838054 233.82237685 -144.85527039 233.80697632 C-145.97085711 233.81726344 -147.08644383 233.82755057 -148.23583621 233.83814943 C-160.18161365 233.7334379 -170.55118384 229.69606995 -179.3125 221.5 C-188.68366243 211.4825505 -191.73485052 200.02519704 -191.6875 186.625 C-191.70361328 185.70138672 -191.71972656 184.77777344 -191.73632812 183.82617188 C-191.73989502 178.87175311 -191.70812763 175.27010119 -188.375 171.3125 C-184.58336973 168.78474649 -181.56625969 169.08806965 -177.1875 169.1875 C-176.43791016 169.19652344 -175.68832031 169.20554688 -174.91601562 169.21484375 C-173.06887346 169.23837422 -171.22189588 169.27424439 -169.375 169.3125 C-169.36082031 168.40113281 -169.34664062 167.48976562 -169.33203125 166.55078125 C-167.81126532 125.24349041 -146.22351408 87.63679502 -116.6875 59.75 C-97.81792349 43.25051523 -75.9226807 31.53265571 -51.8125 24.875 C-50.92127441 24.62806396 -50.03004883 24.38112793 -49.11181641 24.12670898 C-43.22064572 22.58325965 -37.4474485 21.74165118 -31.375 21.3125 C-31.4575 20.3225 -31.54 19.3325 -31.625 18.3125 C-31.59193409 12.85662515 -29.41792767 8.50550056 -25.7265625 4.54296875 C-18.45776066 -1.97990801 -9.17985766 -4.30251393 0 0 Z "
								transform="translate(340.375,22.6875)"></path>
							<path
								d="M0 0 C1.02158203 0.4755835 2.04316406 0.95116699 3.09570312 1.44116211 C5.04853487 2.35471926 6.99696189 3.27779189 8.93945312 4.21313477 C23.71204055 11.16184576 39.2136939 15.22201564 55.08984375 18.74609375 C64.76912221 20.89463314 74.3231776 23.15977389 83.7421875 26.28125 C84.81225037 26.63473511 84.81225037 26.63473511 85.90393066 26.99536133 C100.27981587 31.91526993 116.87577943 39.51505566 124.30859375 53.546875 C128.16175511 61.95502353 129.75763704 70.63520228 127.44140625 79.81640625 C123.67327222 89.05960683 117.44017909 94.91766746 108.4140625 98.9921875 C68.37376802 114.09551832 14.40667772 96.36628683 -24.92993164 84.63378906 C-30.78136609 82.92202876 -35.80376422 81.62985235 -41.91015625 82.24609375 C-45.05674291 84.14258926 -45.05674291 84.14258926 -46.91015625 87.24609375 C-47.56285756 91.30734634 -47.4917259 93.33358327 -45.26953125 96.8203125 C-42.4345451 99.73509131 -40.49602779 100.43548115 -36.59765625 101.55859375 C-35.91944824 101.75533691 -35.24124023 101.95208008 -34.54248047 102.15478516 C-32.00468368 102.87669316 -29.45840915 103.56200788 -26.91015625 104.24609375 C-25.84265137 104.53887207 -24.77514648 104.83165039 -23.67529297 105.13330078 C9.60564475 114.21663705 43.45329272 122.38064648 78.08984375 122.62109375 C78.77740753 122.62922089 79.46497131 122.63734802 80.17337036 122.64572144 C99.36103998 122.81628233 118.15913768 119.0669667 132.77734375 105.80859375 C133.92203125 104.54015625 133.92203125 104.54015625 135.08984375 103.24609375 C135.57066406 102.76914062 136.05148437 102.2921875 136.546875 101.80078125 C144.51316327 93.45130443 146.70851049 83.05123175 147.83862305 71.92089844 C148.52782747 66.17613835 149.77109978 63.19690003 154.08984375 59.24609375 C156.98046875 57.9609375 156.98046875 57.9609375 160.33984375 57.18359375 C160.96173584 57.03494873 161.58362793 56.88630371 162.22436523 56.7331543 C164.50661643 56.20340863 166.7956529 55.72154184 169.08984375 55.24609375 C170.0948291 55.0356543 171.09981445 54.82521484 172.13525391 54.60839844 C179.44070216 53.09108798 186.7540233 51.60990879 194.08984375 50.24609375 C195.0655835 50.06361084 196.04132324 49.88112793 197.04663086 49.69311523 C219.50711589 46.39386549 242.4024781 49.37620211 261.76953125 61.51953125 C269.31520924 67.13432867 274.13560374 74.38337371 277.08984375 83.24609375 C277.2859868 85.34482438 277.40166018 87.45166466 277.46484375 89.55859375 C277.51382812 90.66847656 277.5628125 91.77835937 277.61328125 92.921875 C276.95518457 97.10128005 275.07353579 99.40124287 272.08984375 102.24609375 C269.76781987 103.66530324 267.64261746 104.82757176 265.19140625 105.9453125 C264.52889862 106.26188309 263.86639099 106.57845367 263.18380737 106.90461731 C261.03373559 107.92812336 258.87463759 108.93078977 256.71484375 109.93359375 C255.2070146 110.64702805 253.69985831 111.36188607 252.19335938 112.078125 C249.19658752 113.50036483 246.19639499 114.9148954 243.19238281 116.32177734 C238.86076128 118.35081839 234.54425273 120.41053757 230.23144531 122.47924805 C228.45589577 123.33075697 226.67918143 124.17984092 224.90136719 125.02661133 C219.37356338 127.66054461 213.86332342 130.32827165 208.36328125 133.01953125 C68.78784055 201.27721842 68.78784055 201.27721842 -8.91015625 175.24609375 C-9.79896484 174.94944824 -10.68777344 174.65280273 -11.60351562 174.34716797 C-33.21330739 167.07607931 -54.47351888 158.8270105 -75.43603516 149.86962891 C-78.7225005 148.46953395 -82.01731008 147.09035313 -85.3125 145.7109375 C-87.42371246 144.81245488 -89.53441069 143.91276274 -91.64453125 143.01171875 C-92.62041199 142.6064093 -93.59629272 142.20109985 -94.60174561 141.7835083 C-103.35400798 137.99473208 -103.35400798 137.99473208 -105.91015625 133.24609375 C-107.0318101 128.48145573 -106.89042621 124.53489765 -106.08203125 119.73828125 C-105.97728989 119.09203293 -105.87254852 118.44578461 -105.76463318 117.779953 C-105.53021963 116.33531086 -105.29151152 114.8913609 -105.04916382 113.44802856 C-104.34142132 109.21451028 -103.67617327 104.97425936 -103.0078125 100.734375 C-102.85198196 99.74890182 -102.69615143 98.76342865 -102.53559875 97.74809265 C-100.17313857 82.6949837 -98.01541654 67.61094765 -95.84899902 52.52862549 C-95.35140558 49.06599643 -94.85026175 45.60391162 -94.3458252 42.14227295 C-93.73911826 37.9784413 -93.13884028 33.81372963 -92.5431385 29.64830971 C-92.32100417 28.10188516 -92.09680348 26.55575564 -91.87026787 25.00996971 C-91.55347858 22.84478307 -91.2433434 20.67882486 -90.93823242 18.51196289 C-90.84134597 17.8258641 -90.74445951 17.1397653 -90.64463711 16.43287563 C-90.17286879 12.89985267 -89.83758888 9.40352369 -89.68716431 5.84152222 C-89.65606977 5.12248687 -89.62497522 4.40345152 -89.59293842 3.66262722 C-89.52155517 1.68675352 -89.47920975 -0.2901088 -89.43891907 -2.26686096 C-88.81830409 -6.35964597 -87.47996242 -8.54561599 -84.91015625 -11.75390625 C-60.87799008 -25.77266985 -22.07468919 -10.32058748 0 0 Z "
								transform="translate(234.91015625,302.75390625)"
							></path>
							<path
								d="M0 0 C1.8434899 0.37222071 3.68711539 0.74377047 5.53086853 1.11468506 C9.379189 1.89136776 13.22587601 2.67557113 17.0715332 3.46533203 C21.97636231 4.47205866 26.88462983 5.46068324 31.79424381 6.44377518 C35.59714536 7.20721128 39.3981299 7.97986271 43.19860649 8.75527191 C45.00678038 9.12314502 46.81550598 9.48831794 48.62480354 9.85062408 C76.57022842 15.46346248 76.57022842 15.46346248 84.4375 26.59375 C91.18067505 37.99620344 90.32276172 48.84241861 88.49707031 61.55029297 C88.34743835 62.62633789 88.1978064 63.70238281 88.04364014 64.81103516 C87.55002356 68.34634175 87.04705378 71.88023442 86.54296875 75.4140625 C86.19362323 77.88588629 85.84448506 80.35773938 85.49554443 82.82962036 C84.76351594 88.00310399 84.02638159 93.17583103 83.28613281 98.34814453 C82.52849765 103.6424855 81.78003918 108.938029 81.04003906 114.23486328 C80.14311107 120.65290724 79.23443228 127.06917659 78.31676483 133.48428726 C77.97010558 135.91963982 77.62725891 138.3555384 77.28839874 140.79198837 C76.81204333 144.20795082 76.32045574 147.62140212 75.82519531 151.03466797 C75.6899646 152.02826324 75.55473389 153.02185852 75.41540527 154.04556274 C73.74405327 165.3111527 70.63878593 174.77556883 61.90234375 182.421875 C55.05016534 187.12501223 49.52969341 188.56789965 41.27563477 188.59887695 C40.51255005 188.60544815 39.74946533 188.61201935 38.96325684 188.61878967 C36.44425349 188.6384616 33.92530947 188.65016925 31.40625 188.66015625 C30.54458662 188.66423178 29.68292324 188.6683073 28.79514885 188.67250633 C24.2377026 188.6933372 19.68028624 188.70765395 15.12280273 188.71704102 C10.41722764 188.72812229 5.71212322 188.76255023 1.00671482 188.80221272 C-2.61441428 188.82834985 -6.23543045 188.83673006 -9.85664558 188.84032249 C-11.59139257 188.84519298 -13.32613436 188.85682015 -15.06078911 188.87536049 C-17.48809182 188.8996995 -19.91416545 188.89879744 -22.34155273 188.8918457 C-23.41322441 188.91106079 -23.41322441 188.91106079 -24.50654602 188.93066406 C-29.30514318 188.88061895 -31.72849988 187.82002996 -35.09765625 184.421875 C-36.5919116 181.43336431 -36.23402302 178.71633376 -36.24482727 175.3815155 C-36.2503423 174.28168483 -36.2503423 174.28168483 -36.25596875 173.15963537 C-36.26702742 170.68999406 -36.2708531 168.2203948 -36.2746582 165.75073242 C-36.28092117 163.98517217 -36.28756782 162.21961325 -36.29457092 160.45405579 C-36.31199526 155.64821124 -36.32253642 150.84237664 -36.33077645 146.03650832 C-36.33592319 143.03568774 -36.34199904 140.03487028 -36.34828758 137.0340519 C-36.367343 127.65012624 -36.38157382 118.26620847 -36.38989955 108.88226718 C-36.39967661 98.04077796 -36.42600691 87.19949266 -36.46640044 76.35807532 C-36.49653193 67.98435133 -36.51136557 59.6106859 -36.51468056 51.23690873 C-36.5170343 46.23273418 -36.52603671 41.2287774 -36.55114174 36.22466087 C-36.57437584 31.51736292 -36.57867454 26.81042684 -36.56838036 22.10308647 C-36.56788376 20.37489877 -36.57424059 18.64669353 -36.5879364 16.91856003 C-36.60558583 14.55966571 -36.59858455 12.20207986 -36.58540344 9.84318542 C-36.59637269 9.15874318 -36.60734193 8.47430093 -36.61864358 7.76911801 C-36.55530042 3.07621017 -35.39393447 0.72468797 -32.09765625 -2.578125 C-23.3058186 -6.97404382 -9.11318083 -1.87455901 0 0 Z "
								transform="translate(36.09765625,259.578125)"
							></path>
						</svg>
					</BoxInfo>
					<!-- Fundamento 3 -->
					<BoxInfo
						title="EVANGELIZO"
						info="Ser un evangelizador apasionado para hacer discípulos del reino."
						coverUrl="/Fundamentos/Evangelizo.webp"
					>
						<svg
							id="Capa_2"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 550.54 413"
							fill="currentColor"
							class="w-16 h-16 fill-black dark:fill-white"
						>
							<g id="Capa_1-2" data-name="Capa_1">
								<g>
									<path
										d="M0,275.3c1.26-5.81,2.1-11.75,3.84-17.41,6.69-21.87,20.07-38.69,39.39-50.8,13.07-8.19,27.34-12.27,42.81-12.17,30.52.2,60.99,1.35,91.16,6.17,22.51,3.6,44.87,8.18,67.31,12.23,25.19,4.55,50.4,8.99,75.6,13.48,8.04,1.43,16.11,2.75,24.13,4.3,19.48,3.76,31.91,21.06,29.31,40.81-1.07,8.13-2.49,16.21-7.69,22.97-8.91,11.6-20.68,16.7-35.13,14.36-26.94-4.37-53.81-9.11-80.71-13.68-7.46-1.27-13.6,2.49-14.82,9.02-1.19,6.36,3.35,12.61,10.54,13.89,13.73,2.45,27.46,4.89,41.26,6.88,13.8,1.99,27.65,3.9,41.54,4.99,19.25,1.51,38.56,2.88,57.86,3.11,39.59.47,79.18.5,118.77.01,24.66-.31,41.93,21.66,39.91,43.26-1.73,18.48-15.1,32.9-33.37,36-1.27.22-2.58.24-3.87.24-67.11.01-134.22-.03-201.33.03-29.9.03-59.77-.78-89.58-3.1-34.51-2.69-68.76-7.28-102.32-16.06-21.45-5.62-42.3-12.93-61.65-23.98-17.39-9.93-32.46-22.4-42.68-39.98-5.06-8.71-8.13-18.15-9.69-28.1-.1-.66-.39-1.28-.59-1.92,0-8.18,0-16.36,0-24.54Z"
									></path>
									<path
										d="M550.54,228.63c-5.83,8.74-11.38,17.7-17.6,26.15-4.33,5.87-12.69,6.45-19.12,1.97-10.62-7.41-21.14-14.96-31.71-22.44-4.04-2.86-8.1-5.7-12.31-8.67-6.24,8.93-12.34,17.64-18.44,26.36-14.89,21.3-29.76,42.62-44.72,63.88-.64.91-1.98,1.85-3,1.86-12.43.13-24.86.08-37.29.08-.09-.35-.18-.69-.27-1.04,1.08-.91,2.16-1.84,3.25-2.73,10.04-8.23,16.06-18.76,18.51-31.51,1.9-9.89,2.9-19.7.23-29.61-.27-.99.39-2.48,1.05-3.43,12.09-17.43,24.25-34.82,36.39-52.22.4-.57.79-1.14,1.38-1.98-3.87-2.75-7.65-5.45-11.44-8.12-10.99-7.73-22.05-15.38-32.98-23.21-6.85-4.9-7.99-13.78-2.99-20.63,4.28-5.88,8.49-11.8,12.62-17.78,5.33-7.7,13.29-9.56,20.98-4.25,14.11,9.72,28.03,19.72,42.03,29.6.63.45,1.3.83,2.14,1.36,5.84-8.25,11.58-16.36,17.31-24.47,5.46-7.73,10.83-15.52,16.41-23.17,4.79-6.57,13.09-7.93,19.85-3.32,6.58,4.5,13.08,9.11,19.55,13.76,6.39,4.59,8.04,13.14,3.55,19.6-10.28,14.8-20.73,29.48-31.12,44.21-.8,1.14-1.62,2.26-2.68,3.73,4.99,3.57,9.88,7.1,14.81,10.58,9.43,6.68,18.81,13.43,28.36,19.94,3.57,2.43,5.69,5.7,7.27,9.51v5.98Z"
									></path>
									<path
										d="M260.09,54.75c1.13-12.3,5.38-22.82,12.66-32.19C290.3-.06,323.41-6.77,348.19,7.47c18.95,10.89,28.02,28.06,30.06,49.18,2.49,25.71-4.32,49.76-14.32,73.09-9.94,23.2-23.38,44.35-38.14,64.72-1.44,1.98-2.79,2.77-5.37,2.49-28.83-3.15-57.12-8.67-84.18-19.4-19.69-7.81-37.94-18.03-52.91-33.4-11.07-11.37-18.55-24.54-18.88-40.74-.47-23.46,9.62-41.53,29.99-53,21.02-11.83,42.12-10.69,62.52,2.27.91.58,1.8,1.19,3.12,2.07Z"
									></path>
								</g>
							</g>
						</svg>
					</BoxInfo>
					<!-- Fundamento 4 -->
					<BoxInfo
						title="CONECTO"
						info="Ser un amigo genuino para hacer amigos saludables."
						coverUrl="/Fundamentos/Conecto.webp"
					>
						<svg
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 308.39 406"
							class="w-24 h-24 fill-black dark:fill-white"
						>
							<path
								d="M0 0 C2.39363328 1.51596775 2.87699986 2.6749282 3.875 5.3125 C4.07454777 9.60277707 2.22825331 12.58554872 -0.56054688 15.79711914 C-2.40138543 17.69579689 -4.28062245 19.54271445 -6.1875 21.375 C-6.84169922 22.01566406 -7.49589844 22.65632813 -8.16992188 23.31640625 C-9.77330922 24.88468292 -11.38328872 26.44548219 -13 28 C-8.76183463 33.06623768 -4.32591037 37.80038069 0.375 42.4375 C1.01566406 43.07365234 1.65632813 43.70980469 2.31640625 44.36523438 C3.87530879 45.91250332 5.43651416 47.45736492 7 49 C11.07470959 45.60054456 14.89302484 42.15307014 18.5 38.25 C22.25326709 34.47120048 24.63369189 32.41279293 30 32 C32.44253321 33.11506951 34.11356555 34.11356555 36 36 C36.56147761 39.43905037 36.69551649 41.92511088 34.75390625 44.92578125 C32.91499403 47.04498956 30.99497639 49.02670813 29 51 C28.1853125 51.82757813 27.370625 52.65515625 26.53125 53.5078125 C24.37042055 55.68915615 22.19334056 57.85142149 20 60 C21.79539947 64.6182866 25.54012198 67.50126222 29.1875 70.66992188 C31.73918227 73.05621734 32.9599819 74.85610884 33.8984375 78.23046875 C32.45852746 84.27183042 28.3103468 87.69917883 24 92 C22.74558105 93.30565918 22.74558105 93.30565918 21.46582031 94.63769531 C18.87790253 97.32663399 16.25613674 99.97838598 13.625 102.625 C12.75617188 103.51445312 11.88734375 104.40390625 10.9921875 105.3203125 C-2.51624901 118.90868059 -16.40764679 127.69854931 -35.875 128.3125 C-48.82719474 128.04406073 -59.10589997 123.55087735 -70 117 C-70.4081897 117.42595459 -70.81637939 117.85190918 -71.23693848 118.29077148 C-75.49578516 122.7268359 -79.78272066 127.13429724 -84.08691406 131.52636719 C-85.68867 133.16831287 -87.28316743 134.81737252 -88.87011719 136.47363281 C-91.1550171 138.85576251 -93.46495669 141.21093446 -95.78125 143.5625 C-96.83487732 144.67806274 -96.83487732 144.67806274 -97.90979004 145.81616211 C-103.53620015 151.4475711 -103.53620015 151.4475711 -108.38867188 151.52734375 C-112 151 -112 151 -114 150 C-115.66280324 146.67439353 -115.78864488 143.56143256 -115 140 C-112.93327621 136.83511479 -110.30144401 134.36812936 -107.5625 131.78125 C-106.43050171 130.66623108 -106.43050171 130.66623108 -105.27563477 129.52868652 C-102.86858858 127.16630743 -100.43520978 124.83330206 -98 122.5 C-96.36016099 120.90029918 -94.72211739 119.29875569 -93.0859375 117.6953125 C-89.07785435 113.77528038 -85.04780127 109.87898338 -81 106 C-81.40629639 105.27409668 -81.81259277 104.54819336 -82.23120117 103.80029297 C-87.58506776 94.13227054 -87.58506776 94.13227054 -89.3125 89.125 C-89.61800781 88.26132813 -89.92351562 87.39765625 -90.23828125 86.5078125 C-94.59738105 72.1563147 -91.78222831 57.08209568 -85 44 C-78.74283377 34.75536973 -71.2424706 26.81723703 -63.30200195 19.02075195 C-61.53239138 17.28293228 -59.77427017 15.53407269 -58.01757812 13.78320312 C-56.88865177 12.66342605 -55.75911782 11.54426113 -54.62890625 10.42578125 C-53.84611046 9.64936028 -53.84611046 9.64936028 -53.04750061 8.85725403 C-47.28695965 3.21011586 -47.28695965 3.21011586 -42.74609375 2.46875 C-37.52650287 3.2089631 -35.50017682 5.70316291 -32.0625 9.5 C-31.47404297 10.12003906 -30.88558594 10.74007812 -30.27929688 11.37890625 C-28.83643008 12.90388741 -27.41590672 14.44995475 -26 16 C-23.08653407 14.68692751 -21.0549021 13.28818412 -18.8359375 10.99609375 C-18.27132812 10.42052734 -17.70671875 9.84496094 -17.125 9.25195312 C-16.5475 8.65318359 -15.97 8.05441406 -15.375 7.4375 C-14.21839849 6.24650616 -13.05964222 5.05759995 -11.8984375 3.87109375 C-11.38974121 3.34443115 -10.88104492 2.81776855 -10.35693359 2.27514648 C-7.22101081 -0.67176332 -4.13117138 -0.28990676 0 0 Z M-44 44 C-43.73230018 50.51265084 -41.59522865 53.29650691 -37.0234375 57.7734375 C-36.11822861 58.68725693 -36.11822861 58.68725693 -35.19473267 59.61953735 C-33.91925127 60.89908806 -32.63621556 62.17114762 -31.34619141 63.43603516 C-29.3808459 65.36924967 -27.44956976 67.33238784 -25.51953125 69.30078125 C-24.27275249 70.54359492 -23.02411365 71.78454595 -21.7734375 73.0234375 C-21.20023773 73.60878265 -20.62703796 74.19412781 -20.03646851 74.79721069 C-16.0987955 78.6011377 -13.49340864 79.77419571 -8 80 C-6.90847388 77.36664806 -6.90847388 77.36664806 -7 74 C-8.7760089 71.15633056 -11.13950687 68.95177239 -13.54296875 66.6328125 C-14.2229744 65.95322479 -14.90298004 65.27363708 -15.60359192 64.57345581 C-17.04392813 63.14149754 -18.49280934 61.71809063 -19.94946289 60.30273438 C-22.18107903 58.13124796 -24.38191827 55.93185684 -26.58007812 53.7265625 C-27.98264914 52.33939863 -29.38689175 50.95392246 -30.79296875 49.5703125 C-31.45354782 48.91104767 -32.11412689 48.25178284 -32.79472351 47.57254028 C-33.73007683 46.67062454 -33.73007683 46.67062454 -34.68432617 45.75048828 C-35.2291716 45.21787384 -35.77401703 44.6852594 -36.33537292 44.13650513 C-38.9798642 42.33100891 -41.2176737 42.60883685 -44 44 Z "
								transform="translate(115,105)"></path>
							<path
								d="M0 0 C2 1 2 1 3 3 C3.58849282 7.03008603 3.94167448 9.55796325 1.67626953 13.02709961 C-0.27449185 15.20017677 -2.31445841 17.2135785 -4.4375 19.21875 C-5.56949829 20.33376892 -5.56949829 20.33376892 -6.72436523 21.47131348 C-9.13141142 23.83369257 -11.56479022 26.16669794 -14 28.5 C-15.63983901 30.09970082 -17.27788261 31.70124431 -18.9140625 33.3046875 C-22.92214565 37.22471962 -26.95219873 41.12101662 -31 45 C-30.59370361 45.72662842 -30.18740723 46.45325684 -29.76879883 47.2019043 C-28.96478638 48.65463745 -28.96478638 48.65463745 -28.14453125 50.13671875 C-27.61448486 51.09022217 -27.08443848 52.04372559 -26.53833008 53.02612305 C-19.60511996 66.42930229 -17.66963777 81.4033916 -21.921875 96.015625 C-26.58759007 108.93086525 -34.48619167 117.46023902 -44 127 C-45.67610423 128.70150482 -47.35186916 130.40334392 -49.02734375 132.10546875 C-52.35713091 135.47102633 -55.69002747 138.83327876 -59.04296875 142.17578125 C-59.73414795 142.86583252 -60.42532715 143.55588379 -61.13745117 144.2668457 C-63.80943969 146.75320649 -65.58992021 147.93245637 -69.2247467 148.53114319 C-74.54086195 147.78321499 -76.74057813 145.245281 -80.40405273 141.50170898 C-81.107332 140.81069595 -81.81061127 140.11968292 -82.53520203 139.4077301 C-84.85257573 137.12113871 -87.14343406 134.80991794 -89.43359375 132.49609375 C-91.03682417 130.89757896 -92.64109246 129.30010448 -94.24635315 127.70362854 C-97.60567851 124.35462184 -100.95202057 120.99328455 -104.28979492 117.62280273 C-108.56927942 113.3034362 -112.87942233 109.01625741 -117.19978237 104.73782253 C-120.51786514 101.44503471 -123.81909368 98.13575523 -127.11546516 94.82124519 C-128.6983669 93.2336739 -130.28648507 91.65128611 -131.87985039 90.07421684 C-134.10452066 87.86732594 -136.30551307 85.63923353 -138.50170898 83.40405273 C-139.16396484 82.75596649 -139.8262207 82.10788025 -140.50854492 81.44015503 C-143.62277315 78.22273605 -144.89948948 76.75555674 -145.50639343 72.19334412 C-144.89629679 68.34604199 -143.86650124 66.97887514 -141.1484375 64.2265625 C-140.3244043 63.37481445 -139.50037109 62.52306641 -138.65136719 61.64550781 C-137.77641602 60.77249023 -136.90146484 59.89947266 -136 59 C-135.1637207 58.12956055 -134.32744141 57.25912109 -133.46582031 56.36230469 C-130.87790253 53.67336601 -128.25613674 51.02161402 -125.625 48.375 C-124.75617188 47.48554687 -123.88734375 46.59609375 -122.9921875 45.6796875 C-109.99008952 32.60065403 -96.06068274 23.18634684 -77.25 22.6875 C-63.76627598 22.919978 -53.36473831 27.16611683 -42 34 C-41.5918103 33.57404541 -41.18362061 33.14809082 -40.76306152 32.70922852 C-36.50421484 28.2731641 -32.21727934 23.86570276 -27.91308594 19.47363281 C-26.31133 17.83168713 -24.71683257 16.18262748 -23.12988281 14.52636719 C-20.8449829 12.14423749 -18.53504331 9.78906554 -16.21875 7.4375 C-15.51633179 6.6937915 -14.81391357 5.95008301 -14.09020996 5.18383789 C-9.34439731 0.43380874 -6.73738452 -0.98382575 0 0 Z M-104 71 C-103.73230018 77.51265084 -101.59522865 80.29650691 -97.0234375 84.7734375 C-96.11822861 85.68725693 -96.11822861 85.68725693 -95.19473267 86.61953735 C-93.91925127 87.89908806 -92.63621556 89.17114762 -91.34619141 90.43603516 C-89.3808459 92.36924967 -87.44956976 94.33238784 -85.51953125 96.30078125 C-84.27275249 97.54359492 -83.02411365 98.78454595 -81.7734375 100.0234375 C-81.20023773 100.60878265 -80.62703796 101.19412781 -80.03646851 101.79721069 C-76.0987955 105.6011377 -73.49340864 106.77419571 -68 107 C-66.90847388 104.36664806 -66.90847388 104.36664806 -67 101 C-68.7760089 98.15633056 -71.13950687 95.95177239 -73.54296875 93.6328125 C-74.2229744 92.95322479 -74.90298004 92.27363708 -75.60359192 91.57345581 C-77.04392813 90.14149754 -78.49280934 88.71809063 -79.94946289 87.30273438 C-82.18107903 85.13124796 -84.38191827 82.93185684 -86.58007812 80.7265625 C-87.98264914 79.33939863 -89.38689175 77.95392246 -90.79296875 76.5703125 C-91.45354782 75.91104767 -92.11412689 75.25178284 -92.79472351 74.57254028 C-93.73007683 73.67062454 -93.73007683 73.67062454 -94.68432617 72.75048828 C-95.2291716 72.21787384 -95.77401703 71.6852594 -96.33537292 71.13650513 C-98.9798642 69.33100891 -101.2176737 69.60883685 -104 71 Z "
								transform="translate(253,0)"></path>
						</svg>
					</BoxInfo>
					<!-- Fundamento 5 -->
					<BoxInfo
						title="DISCIPULO"
						info="Ser un discípulo íntegro para hacer discípulos de carácter."
						coverUrl="/Fundamentos/Discipulo.webp"
					>
						<svg
							id="Capa_2"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 308.39 406"
							class="w-24 h-24 fill-black dark:fill-white"
						>
							<g id="Capa_1-2" data-name="Capa_1">
								<g>
									<path
										d="M214.09,188.29c0,23.42.6,46.86-.35,70.24-.31,7.54-2.55,17.72-7.74,21.76-9.67,7.53-9.52,16.29-9.47,26.18.09,18.46.19,36.93-.03,55.39-.3,25.75-18.56,44.41-42.87,44.14-23.65-.26-41.46-18.79-41.76-43.88-.25-21.16.17-42.34-.32-63.5-.1-4.39-1.61-10.29-4.68-12.78-10.21-8.3-12.81-18.67-12.73-31.09.3-44.13,1-88.3-.27-132.4-.75-25.95,13.23-29.87,32.87-23.63,19.17,6.09,35.36,6.22,54.62.11,20.42-6.48,34.72-2.44,33.01,24.62-1.36,21.53-.27,43.22-.28,64.84Z"
									></path>
									<path
										d="M104.92,87.13c-20.61,7.06-21.22,22.82-21.01,39.89.54,42.32-.36,84.66.39,126.98.36,20.02,4.67,40.01,4.53,59.99-.19,26.28-27.29,42.49-51.25,31.86-13.41-5.95-21.33-16.39-21.63-31.47-.3-15.3-.32-30.62-.07-45.93.2-12.52,1.37-24.46-10.79-33.81-4.07-3.13-4.76-12.3-4.83-18.74C-.15,177.18.04,138.45.07,99.73c.02-19.94,9.3-28.03,28.11-21.06,16.69,6.19,31.58,6.91,48.13.09,9.16-3.77,20.1-3.61,28.61,8.37Z"
									></path>
									<path
										d="M203.16,87.14c10.04-12.72,21.58-11.96,31.75-7.66,14.33,6.05,27.22,5.81,41.61.19,21.58-8.44,31.74-.87,31.75,21.76.02,38.28.42,76.56-.32,114.83-.14,7.43-2.9,16.47-7.75,21.72-5.8,6.27-8.05,11.95-7.84,20.04.44,16.65.24,33.32.13,49.98-.17,25.12-14.35,40.93-36.56,40.99-22.2.06-37.32-16.02-36.76-40.75,1.4-62.34,3.22-124.66,5.22-186.98.5-15.42-3.57-27.58-21.23-34.11Z"
									></path>
									<path
										d="M154.08,94.59c-23.61-.05-43.11-19.5-43.15-43.03-.04-24.31,19.73-43.81,44.01-43.4,23.67.39,42.61,19.82,42.48,43.58-.13,23.48-19.77,42.9-43.33,42.85Z"
									></path>
									<path
										d="M293.6,36.97c.34,20.61-16.37,37.99-37.04,38.52-20.49.52-37.83-16.41-38.12-37.23C218.16,17.15,234.32.38,255.31,0c20.88-.37,37.95,16.1,38.3,36.96Z"
									></path>
									<path
										d="M51.88,0c21.04-.24,37.79,16.1,38.02,37.1.23,20.97-16.27,38.1-36.97,38.38-20.5.27-37.75-16.63-38.12-37.36C14.43,17.27,30.98.25,51.88,0Z"
									></path>
								</g>
							</g>
						</svg>
					</BoxInfo>
				</div>
			</div>
		</section>
	</section>

	<section class="w-full">
		<AnimatedSection
			videoSrc="/video.mp4"
			imageSrc="/logoSectionAnimate.svg"
		/>
	</section>

	<div
		class="bg-gradient-to-br from-blue-800/15 via-white to-cyan-900/15 dark:from-gray-900 dark:via-black dark:to-cyan-900 relative overflow-hidden"
	>
		<section class="py-28 px-4">
			<div class="absolute inset-0 bg-grid-pattern opacity-10"></div>

			<div class="container mx-auto relative z-10">
				<div class="text-center mb-16">
					<h2
						class="text-5xl md:text-4xl lg:text-5xl font-bebas text-black dark:text-white"
					>
						Nuestros Aliados
					</h2>
					<div
						class="mt-4 h-1 w-32 bg-gradient-to-r from-teal-600 to-cyan-600 mx-auto rounded-full"
					>
					</div>
					<p
						class="mt-6 text-lg text-gray-700 dark:text-gray-300 max-w-2xl mx-auto leading-relaxed"
					>
						Uniendo fuerzas con organizaciones líderes para crear un
						impacto duradero y transformador en nuestra comunidad.
					</p>
				</div>

				<div class="w-full max-w-5xl mx-auto relative">
					<Carrusel />
				</div>
			</div>

			<div class="mt-16 text-center relative z-10">
				<Button title="Nuestros Aliados" link="/aliados" />
			</div>
		</section>

		<section
			class="pb-11 max-sm:pt-11 max-sm:py-0 relative z-10 bg-gradient-to-b from-transparent via-white/50 to-white dark:via-black/50 dark:to-black"
		>
			<div
				class="container mx-auto px-4 sm:px-6 lg:px-14 p-10 md:rounded-3xl"
			>
				<div class="text-center font-extrabold pb-10 mb-5">
					<h3
						class="font-bebas text-5xl md:text-5xl lg:text-5xl text-black dark:text-white"
					>
						Información de contacto
					</h3>
					<div
						class="mt-4 h-1 w-32 bg-gradient-to-r from-cyan-600 to-teal-600 mx-auto rounded-full"
					>
					</div>
				</div>
				<div
					class="flex flex-col lg:flex-row items-center justify-center gap-10"
				>
					<address class="w-full lg:w-1/2 not-italic">
						<div
							class="relative flex justify-center items-center h-[600px] w-full max-w-[330px] border-8 border-black dark:border-gray-700 rounded-3xl mx-auto z-50 shadow-xl bg-gradient-to-b from-gray-800 to-black dark:from-gray-700 dark:to-gray-900 overflow-hidden"
						>
							<div
								class="absolute inset-0 bg-gradient-to-br from-white/10 to-transparent pointer-events-none"
							>
							</div>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2162.913883407896!2d-69.39231334646111!3d10.033670235976096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e87636b367fdb05%3A0xd2bc27453304a517!2sMinisterio%20Restauracion%20Internacional!5e0!3m2!1ses!2sve!4v1726187022646!5m2!1ses!2sve"
								class="absolute inset-0 w-full h-full rounded-2xl"
								title="Ubicación de Red Global Restauración"
								allowfullscreen=""
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"
							></iframe>
							<span
								class="absolute -right-4 top-20 w-1 h-16 bg-gray-300 dark:bg-gray-600 rounded-l-md shadow-md"
							></span>
							<span
								class="absolute -right-2 top-40 w-1 h-20 bg-gray-300 dark:bg-gray-600 rounded-l-md shadow-md"
							></span>
							<span
								class="absolute -left-2 top-32 w-1 h-16 bg-gray-300 dark:bg-gray-600 rounded-r-md shadow-md"
							></span>
							<div
								class="absolute -top-1 left-1/2 transform -translate-x-1/2 w-32 h-4 bg-black dark:bg-gray-700 rounded-br-xl rounded-bl-xl flex justify-center items-center"
							>
								<div
									class="w-16 h-2 bg-gray-400 dark:bg-gray-500 rounded-full"
								>
								</div>
							</div>
							<div
								class="absolute -bottom-1 left-1/2 transform -translate-x-1/2 w-32 h-1 bg-gray-300 dark:bg-gray-600 rounded-full"
							>
							</div>
						</div>
					</address>

					<ul
						class="w-full md:w-3/4 lg:w-1/2 mx-auto px-4 text-gray-700 dark:text-gray-300 space-y-8 md:space-y-10 lg:space-y-12"
					>
						<li
							class="flex flex-col md:flex-row items-center md:items-start gap-4 p-6 border-l-4 border-transparent rounded-lg"
						>
							<div
								class="w-16 h-16 flex justify-center items-center rounded-full"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="w-10 h-10"
									viewBox="0 0 24 24"
								>
									<defs>
										<linearGradient
											id="grad"
											x1="0%"
											y1="0%"
											x2="100%"
											y2="0%"
										>
											<stop
												offset="0%"
												style="stop-color:#0891b2;stop-opacity:1"
											></stop>
											<stop
												offset="76%"
												style="stop-color:#047481;stop-opacity:1"
											></stop>
										</linearGradient>
									</defs>
									<path
										d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"
										fill="url(#grad)"></path>
									<circle
										class="fill-white dark:fill-black"
										cx="12"
										cy="10"
										r="3"></circle>
								</svg>
							</div>
							<div class="text-center md:text-left">
								<h3
									class="text-xl md:text-2xl font-semibold mb-1 md:mb-2 text-gray-700 dark:text-white"
								>
									Dirección
								</h3>
								<p class="text-base md:text-lg leading-relaxed">
									Av. Vicente Landaeta entre Av. Rotaria y el
									Aeropuerto Barquisimeto, Lara, Venezuela
								</p>
							</div>
						</li>

						<li
							class="flex flex-col md:flex-row items-center md:items-start gap-4 p-6 border-l-4 border-transparent rounded-lg"
						>
							<div
								class="w-16 h-16 flex justify-center items-center rounded-full"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="w-10 h-10"
									fill="currentColor"
									viewBox="0 0 16 16"
								>
									<path
										fill="url(#grad)"
										d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
									></path>
									<path
										fill="url(#grad)"
										d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
									></path>
								</svg>
							</div>
							<div class="text-center md:text-left">
								<h3
									class="text-xl md:text-2xl font-semibold mb-1 md:mb-2 text-gray-700 dark:text-white"
								>
									Teléfonos
								</h3>
								<ul
									class="text-base md:text-lg leading-relaxed"
								>
									<li>0412 556 1673</li>
									<li>0414 523 6964</li>
								</ul>
							</div>
						</li>

						<li
							class="flex flex-col md:flex-row items-center md:items-start gap-4 p-6 border-l-4 border-transparent rounded-lg"
						>
							<div
								class="w-16 h-16 flex justify-center items-center rounded-full"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="w-10 h-10 text-gray-500 dark:text-gray-400"
									viewBox="0 0 24 24"
									fill="currentColor"
								>
									<path
										fill="url(#grad)"
										d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"
									></path>
									<path
										fill="url(#grad)"
										d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"
									></path>
								</svg>
							</div>
							<div class="text-center md:text-left">
								<h3
									class="text-xl md:text-2xl font-semibold mb-1 md:mb-2 text-gray-700 dark:text-white"
								>
									Correo
								</h3>
								<a
									href="mailto:contacto@redglobalrestauracion.org"
									class="text-base md:text-lg leading-relaxed"
								>
									contacto@redglobalrestauracion.org
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</Layout>

