---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Sobre nosotros">
    <section class="py-28">
        <div class="container mx-auto max-w-7xl px-4">
            <div class="flex flex-row max-lg:flex-col">

                <div class="flex flex-col">
                    <div class="mb-16 md:mr-12 max-md:mx-4">
                        <div class="flex items-center mb-5 gap-3 max-lg:justify-center max-md:mb-5">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="bi bi-binoculars w-12 max-md:w-9 mb-3 fill-black dark:fill-white"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"
                                >
                            </svg>
                            <h1 class="font-bebas text-black dark:text-white text-5xl max-md:text-4xl">
                                Visión
                            </h1>
                        </div>
                        <article class="text-black dark:text-white text-justify text-3xl max-md:text-2xl py-5">
                            Equipos comprometidos y apasionados por Jesús que alcanzan comunidades, y Establecen el Reino de Dios en la Tierra.
                        </article>
                    </div>

                    <div class="mb-16 md:mr-12 max-md:mx-4">
                        <div class="flex items-center mb-5 gap-3 max-lg:justify-center max-md:mb-5">
                            <svg
                                class="w-12 max-md:w-9 mb-3 fill-black dark:fill-white"
                                viewBox="0 0 512 512"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="m511.7274 66.3924c-.7392-2.7607-2.8954-4.9169-5.6552-5.6572l-34.297-9.1962 7.6654-7.6654c3.124-3.124 3.124-8.1894 0-11.3133-3.124-3.1235-8.1884-3.1245-11.3143 0l-7.6591 7.659-9.1727-34.2866c-.7393-2.7617-2.8955-4.9194-5.6562-5.6596-2.7617-.7392-5.707.0479-7.7294 2.0703l-66.0461 66.0461c-2.0205 2.021-2.8105 4.9677-2.0703 7.7284l11.5819 43.1943-167.91 167.9096c-3.124 3.124-3.124 8.1894 0 11.3134 1.5625 1.562 3.6093 2.3432 5.6572 2.3432 2.0469 0 4.0947-.7813 5.6572-2.3432l15.3338-15.3339c1.3818 2.9962 2.1338 6.2741 2.1338 9.6772 0 12.7503-10.3739 23.1237-23.1247 23.1237-12.7352 0-23.0954-10.3734-23.0954-23.1237 0-11.9886 8.9872-21.8845 20.905-23.0188 4.3984-.4185 7.6249-4.3232 7.206-8.7216-.418-4.3989-4.3291-7.6215-8.7216-7.206-20.1755 1.9194-35.3892 18.6629-35.3892 38.9463 0 21.573 17.5379 39.1236 39.0952 39.1236 21.573 0 39.1245-17.5506 39.1245-39.1236 0-7.7356-2.2309-15.1222-6.3783-21.4322l31.4244-31.4244c12.2777 14.8657 18.9622 33.3532 18.9622 52.8566 0 45.8242-37.2935 83.1045-83.1328 83.1045-45.8237 0-83.1045-37.2803-83.1045-83.1045 0-45.8398 37.2808-83.1328 83.1045-83.1328 14.4803 0 28.7409 3.7807 41.2388 10.9335 3.834 2.1943 8.7216.8643 10.9169-2.9697 2.1943-3.8344.8652-8.7221-2.9697-10.9169-14.9139-8.535-31.9215-13.0467-49.1859-13.0467-54.6458 0-99.1043 44.4707-99.1043 99.1326 0 54.6463 44.4585 99.1043 99.1043 99.1043 54.6615 0 99.1326-44.458 99.1326-99.1043 0-23.7801-8.331-46.2934-23.6037-64.2148l31.1764-31.1763c23.551 26.2767 36.4366 59.8455 36.4366 95.3911 0 78.9126-64.2131 143.1131-143.1419 143.1131-78.9131 0-143.1135-64.2004-143.1135-143.1131 0-78.9131 64.2004-143.1136 143.1135-143.1136 30.3405 0 59.3411 9.3749 83.8652 27.112 3.581 2.5883 8.581 1.7861 11.1708-1.7944 2.5888-3.58 1.7861-8.5809-1.7939-11.1703-27.2702-19.7224-59.513-30.1471-93.2421-30.1471-87.7353 0-159.1134 71.3781-159.1134 159.1134s71.3781 159.1129 159.1134 159.1129c87.7509 0 159.1417-71.3776 159.1417-159.1129 0-39.8213-14.5374-77.415-41.1021-106.7256l31.1403-31.1403c34.858 37.646 53.971 86.2869 53.971 137.8659 0 112.0016-91.1327 203.1216-203.1509 203.1216-112.0016 0-203.1216-91.12-203.1216-203.1216 0-112.0021 91.12-203.1221 203.1216-203.1221 46.4164 0 90.1161 15.2479 126.3755 44.0957 3.454 2.7495 8.4882 2.1772 11.2411-1.2793 2.75-3.4575 2.1777-8.4906-1.2802-11.2411-39.1197-31.1241-86.2646-47.5751-136.3363-47.5751-58.5266 0-113.5514 22.7903-154.9376 64.1726-41.3896 41.3858-64.1842 96.4149-64.1842 154.9494 0 120.8238 98.2977 219.1214 219.1214 219.1214 120.8404 0 219.1508-98.2977 219.1508-219.1214 0-55.8535-20.7761-108.5128-58.6502-149.1865l13.0497-13.0497 43.209 11.5925c.6855.1841 1.3818.2734 2.0732.2734 2.0937 0 4.1367-.8232 5.6572-2.3432l66.0461-66.0461c2.0203-2.0205 2.8094-4.9663 2.0701-7.7265zm-125.2836 10.0438 52.9769-52.9774 7.9799 29.8274-52.9632 52.9631zm49.1205 49.1483-29.8312-8.0036 52.9794-52.9792 29.8346 7.9995z"
                                ></path>
                            </svg>
                            <h1 class="font-bebas text-black dark:text-white text-5xl max-md:text-4xl">
                                Misión
                            </h1>
                        </div>
                        <article class="text-black dark:text-white text-justify text-3xl max-md:text-2xl py-5">
                            Capacitar, enviar y proveer herramientas al cuerpo
                            de Cristo, conectados a través de alianzas
                            estratégicas en unidad y visión de Reino,
                            desarrollando relaciones de mentoría y uso eficiente
                            de recursos para el discipulado, plantación y
                            crecimiento de Iglesias saludables.
                        </article>
                    </div>

                    <div class="mb-16 md:mr-12 max-md:mx-4 max-lg:mb-6 max-md:mb-0">
                        <div class="flex items-center mb-5 gap-3 max-lg:justify-center">
                            <svg
                                class="w-12 max-md:w-9 mb-3 fill-black dark:fill-white"
                                viewBox="0 0 512 512"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                            <path
                            d="M106 1.6C88.9 5.2 73.5 17.1 66 32.4c-7.4 15-7 .8-7 211.7 0 122.4.4 191.5 1 195 4.5 24.2 41.1 55.8 80.5 69.6l8 2.8 134.7.3c116.9.2 135.7 0 142-1.3 21.9-4.5 39.5-21.4 45.5-43.5 1.7-6.1 1.8-17.9 1.8-191.5s-.1-185.4-1.8-191.4c-4.6-16.7-15.9-30.6-30.8-38-8-4-11.2-4.8-25.9-6.7-4.4-.6-4.6-.7-8-7.7-7.4-15.1-23.7-27.2-40.7-30.2-11.6-2.1-249.7-2-259.3.1zm318.4 80.5c1.8 1.2 4.4 3.8 5.7 5.7l2.4 3.6.3 183 .2 183.1-2.2 4.5c-2.5 4.9-7 8.4-12.7 10-5.3 1.5-259.3 1.4-264.6-.1-5.5-1.5-16.4-7-26.3-13.2l-8.2-5.2 123.2-.5c137.2-.6 126.3 0 140.3-7.3 8.6-4.5 20.2-16.4 24.3-25 6.6-13.7 6.2-1.8 6.2-180v-162l4.1.6c2.2.3 5.5 1.5 7.3 2.8zM256 147.5V177h59v40h-59v118h-39V217l-29.7-.2-29.8-.3v-39l29.8-.3 29.7-.2v-59h39v29.5z" />
                            </svg>
                            <h1 class="font-bebas text-black dark:text-white text-5xl max-md:text-4xl">
                                Fundamento Biblico
                            </h1>
                        </div>
                        <article class=" text-black dark:text-white text-justify max-lg:text-center text-3xl max-md:text-2xl py-5">
                            Mateo 28 : 19-20
                        </article>
                    </div>
                    
                </div>

                <div
                    class="flex justify-center items-center w-full lg:w-1/2"
                > 
                    <Image
                        src="/nosotros/Fundamento.webp"
                        alt="Fundamento Biblico"
                        width={600}
						            height={400}
                        class="max-w-full md:max-w-[380px] mx-auto"
                        loading="eager"
                    />
                </div>

            </div>
        </div>
    </section>

      <section class="py-10">
        <div class="container mx-auto max-w-7xl px-4">
          <h2 class="text-center text-5xl max-md:text-4xl font-bold text-black dark:text-white mb-8">Nuestros Objetivos</h2>
      
          <div class="flex flex-col items-start mt-7">
  
            <div class="flex flex-col items-start md:w-9/12">
              <!-- Línea vertical y punto -->
              <div class="flex flex-col items-center ml-4 mb-2">
                <!-- Círculo inicial -->
                <div class="w-6 h-6 bg-green-600 rounded-full mb-4"></div> <!-- Círculo verde inicial más grande -->
                <!-- Línea verde hasta el ícono de la iglesia -->
                <div class="h-16 w-0.5 bg-green-600"></div>
              </div>
      
              <!-- Contenido de Iglesia -->
              <div class="my-2">
                <!-- Icono e Iglesia -->
                <div class="flex items-center mb-4">

                  <div class="relative inline-block z-1">
                    <svg class="w-14 mb-3 fill-black dark:fill-white" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                      <path d="M281.123 205.001h-50.245c-5.549 0-10.049 4.499-10.049 10.049v57.28c0 5.55 4.5 10.049 10.049 10.049h50.245c5.549 0 10.049-4.499 10.049-10.049v-57.28c0-5.55-4.5-10.049-10.049-10.049zm-10.049 57.28h-30.147v-37.182h30.147v37.182z"/>
                      <path d="M452.291 491.902H411.76V344.241h13.566a10.05 10.05 0 0 0 3.951-19.289l-97.91-41.869v-98.179h7.537a10.05 10.05 0 0 0 7.446-16.799L266.049 79.53V49.743h18.088c5.549 0 10.049-4.499 10.049-10.049s-4.5-10.049-10.049-10.049h-18.088V10.049C266.049 4.499 261.549 0 256 0c-5.549 0-10.049 4.499-10.049 10.049v19.596h-18.088c-5.549 0-10.049 4.499-10.049 10.049s4.5 10.049 10.049 10.049h18.088V79.53l-80.3 88.573a10.048 10.048 0 0 0 7.445 16.799h7.537v98.18l-97.91 41.869a10.05 10.05 0 0 0 3.951 19.289h13.566V491.9H59.709c-5.549 0-10.049 4.499-10.049 10.049S54.159 512 59.709 512h392.583c5.549 0 10.049-4.499 10.049-10.049s-4.5-10.049-10.05-10.049zM256 98.369l60.231 66.435H195.769L256 98.369zm32.659 393.533H223.34v-97.978c0-18.008 14.651-32.659 32.659-32.659 18.009 0 32.659 14.652 32.659 32.659v97.978zm103.003 0h-82.905v-97.978c0-29.091-23.668-52.758-52.758-52.758s-52.758 23.667-52.758 52.758v97.978h-82.905V330.726l74.295-31.771a10.048 10.048 0 0 0 6.098-9.239V184.903h110.54v104.812c0 4.023 2.4 7.658 6.098 9.239l74.295 31.771v161.177z"/>
                      <path d="M348.954 420.386c5.549 0 10.049-4.499 10.049-10.049V378.18c0-5.549-4.5-10.049-10.049-10.049-5.549 0-10.049 4.499-10.049 10.049v32.157c0 5.55 4.5 10.049 10.049 10.049zM348.954 467.616c5.549 0 10.049-4.499 10.049-10.049v-4.02c0-5.549-4.5-10.049-10.049-10.049-5.549 0-10.049 4.499-10.049 10.049v4.02c0 5.55 4.5 10.049 10.049 10.049zM163.046 368.13c-5.549 0-10.049 4.499-10.049 10.049v32.157c0 5.55 4.5 10.049 10.049 10.049 5.549 0 10.049-4.499 10.049-10.049V378.18c0-5.55-4.5-10.05-10.049-10.05z"/>
                    </svg>
                  
                    <span class="absolute left-0 top-0 h-full w-full bg-green-600 filter blur-[48px] z-n1 rounded-full"></span>
                  </div>
                  
                  <h3 class="text-5xl max-md:text-3xl text-black dark:text-white font-bold ml-4">Iglesia</h3> 
                </div>
      
                <p class="text-4xl max-md:text-2xl max-md:text-justify text-black dark:text-white mb-4 lg:pl-16">
                  Impulsar el alcance y transformación de comunidades a través de la <span class="text-green-400 font-bold">iglesia local</span>.
                </p>
              </div>
            </div>
      

            <div class="flex flex-col items-center ml-6 lg:-mt-28">
              <div class="h-28 w-0.5 bg-green-600"></div> <!-- Línea hacia arriba -->
            </div>
      
            <!-- Imagen -->
            <div class="mt-6 w-full">
              <img src="/portada.jpg" alt="Imagen de iglesia" class="rounded-lg w-[1200px]">
            </div>

            <div class="flex flex-col items-center ml-7 mt-0">
              <!-- Línea con degradado de verde a rojo -->
              <div class="h-52 w-0.5 bg-gradient-to-b from-green-600 to-red-600"></div> <!-- Línea hacia arriba -->
            </div>

            <div class="flex flex-col items-start md:w-9/12">
      
              <!-- Contenido de Iglesia -->
              <div class="my-3">
                <!-- Icono e Iglesia -->
                <div class="flex items-center mb-4">
                  <div class="relative inline-block z-1">
                  <svg class="w-14 mb-3 fill-black dark:fill-white" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M47.3 37.1c-1.8.5-4.7 2.4-6.6 4.2-3.4 3.2-37 61-39.3 67.6-2.9 8.1-.7 17 5.7 22.6 1.9 1.7 8 5.6 13.6 8.8 14 7.9 16.5 10.5 19.2 19.7 5.4 17.9 7.3 19.5 63.2 51.7 56.9 32.7 56.7 32.6 63.5 32.1 9-.8 16.2-6.7 20-16.6.1-.1 2.5.9 5.5 2.3 3.4 1.5 7.2 2.5 10.2 2.5 9.1 0 18.5-6.8 20.7-15.1.9-3.3 1.4-3.7 5.1-4.3 8.6-1.4 16.4-7.6 18.9-15.2 1.5-4.5.7-13.6-1.4-16.9-1.4-2.1-1.3-2.4.6-4.1 3-2.7 6.8-11.3 6.8-15.5 0-5.8-2.8-12.5-6.8-16.1-2-1.8-18.5-11.8-36.5-22.2-18-10.4-32.6-19.1-32.3-19.3.2-.3 6.2-1.3 13.3-2.3 14.4-2 16.6-2.7 21.2-6.5 8-6.8 10-19.2 4.5-28.2-2.2-3.6-4.2-5.5-8.4-7.5-5-2.5-8.8-3.1-42-6.8-43.1-4.7-47.4-4.8-59.8-1.5-12.9 3.4-14.6 3.3-24.9-2.2C62.8 38.5 59.4 37 55 36.5c-2.5-.2-5.9 0-7.7.6zm20.5 21.1C86.8 69 92 69.9 109 65.5c5.2-1.4 12-2.5 15-2.5 4.7 0 59 5.8 72.4 7.8 3.6.5 5.4 1.4 6.8 3.3 2.3 3.1 1.6 7.3-1.6 9.4-1.1.7-13.1 2.7-26.6 4.5-25.2 3.2-28.5 4.1-29.5 8.3-1.5 5.6-.5 6.4 42.7 31.2 50 28.8 49.8 28.7 49.8 32.5 0 3.7-3.1 7-6.5 7-1.5 0-18.5-9.2-40.8-22.1-40.9-23.7-43-24.7-46.8-20-2.5 3.1-2.4 6.4.4 9.5 1.2 1.3 18.4 11.8 38.2 23.1 39.1 22.5 48.6 28.2 49.7 29.9 2.5 3.7-1.1 10-5.8 9.9-1.9 0-17.4-8.4-46.4-25.2-23.9-13.8-44.2-25.1-45.1-25.1-.9 0-2.8.9-4.3 2.1-2.9 2.3-3.6 7.2-1.3 10.2.6.9 18.1 11.4 38.7 23.3 20.6 11.8 38.3 22.3 39.3 23.1 4.3 4 .2 12-5.7 11-1.7-.3-19.8-10.2-40.3-22-20.4-11.9-38.1-21.8-39.2-22.2-1.1-.3-3.3.1-5 .9-3.9 2.1-5.1 6.8-2.5 10.3 1.1 1.3 13.8 9.3 28.4 17.7 28.6 16.5 30.8 18.3 28 23.3-2.3 4-4.4 5-8 3.6-1.7-.6-24.7-13.6-51-28.8-33.4-19.3-49-28.8-51.3-31.4-2.3-2.5-4.4-6.7-6.2-12.2-4.9-14.7-7.9-18-26.4-28.8-6.3-3.6-11.9-7.3-12.4-8.2-.6-.9-.7-2.7-.4-4 .8-3.2 34.4-62.1 36-63.1 2-1.2 5.6.2 16.5 6.4zM449.7 38c-1.5.4-6.3 2.9-10.6 5.5-9.3 5.4-11.2 8.4-8.7 13.4 2.7 5.2 5.8 5.1 15.7-.2 10.1-5.5 13-5.8 15.7-2 4.1 6 34.2 58.3 34.7 60.5.8 3-1.3 5-13.4 12.2-17.4 10.4-21.7 14.9-24.7 25.6-3.8 13.4-5.8 18.3-11.2 26.1-9.1 13.2-40.4 55.3-42.1 56.6-4.3 3.3-10.5-.2-10.3-5.8.1-1.9 4.2-13.1 9.2-24.9 5-11.8 9.2-22.8 9.2-24.4.1-3.1-3.9-7.6-6.8-7.6-2.1 0-3.6.8-45.4 25-47 27.2-47.2 27.3-50.4 25.9-1.4-.7-3-2.5-3.7-4.1-1-2.5-.9-3.3.7-5.4 1-1.4 19-12.4 39.9-24.5s38.6-22.7 39.3-23.6c3.1-4.2-.6-11.3-6-11.3-2.1 0-15.8 7.4-46.3 25-23.8 13.7-44.1 25-45.2 25-3.4 0-6.3-2.9-6.3-6.4 0-1.8.6-3.9 1.3-4.8.6-.9 20.1-12.5 43.2-25.8s42.8-24.9 43.8-25.9 1.9-3.3 1.9-5.1c.1-3.9-3-7-7.1-7-1.6 0-17.2 8.4-40.8 22-25.7 14.8-39.1 22-41.1 22-1.6 0-3.6-.8-4.5-1.8-2.2-2.4-2.2-7.5.1-9.4.9-.9 18.4-11.1 38.7-22.8 20.4-11.7 37.8-22.2 38.8-23.2 3.9-4.5.5-11.8-5.4-11.8-2.1 0-11.4 4.9-29.8 15.5-16 9.2-27.9 15.5-29.5 15.5-5.5 0-8.5-6.6-4.8-10.8 1.4-1.7 85.2-50.6 98.2-57.3 3.4-1.7 6.3-2.3 11.9-2.4 6.4-.1 7.6-.4 9.2-2.4 2.7-3.3 2.4-7.3-.7-10.2-2.3-2.1-3.4-2.4-10.2-2.3-5.8 0-9.1.6-13.7 2.5-8 3.4-101.2 57.3-104.9 60.7-8 7.5-8.8 22.1-1.5 29.9l2.1 2.1-2.2 1.2c-4.1 2.2-10.1 8.3-11.6 11.9-1.9 4.4-1.9 12.9-.1 17.3.8 1.8 2.6 4.7 4.1 6.5 2.6 3.1 2.7 3.3 1 6.4-2.3 4.6-2.1 13.6.5 18.6 3.6 7.1 11.8 12.3 19.5 12.3 2 0 2.6.5 2.6 2 0 3.3 3.7 9.7 7.2 12.4 4.6 3.5 8.5 4.7 14.4 4.7 6.3 0 5.5.5 44.8-22.2 17-9.9 31.1-17.8 31.3-17.6.2.2-1.7 5.2-4.2 11.2-2.5 5.9-5 12.7-5.6 15.1-3.5 14 9.9 28.1 24.7 26 9.3-1.2 10.5-2.6 44.1-48.8 16.9-23.1 19.2-27.3 22.7-40.8 3-11.5 4.5-13 22.1-23.5 6.5-3.9 12.8-8.4 14.1-10 3.6-4.7 5.1-11.6 3.6-16.9-1.1-4.1-32.7-59.5-37.8-66.3-4.2-5.6-8.2-7.7-14.9-8-3.3-.1-7.2.2-8.8.7zM245 226.3c-4 1.8-9.8 6.6-10.5 8.6-.5 1.7-1.4 1.9-8.3 1.4-7.4-.4-7.9-.3-13.2 2.9-4 2.5-6 4.5-8 8.3l-2.5 4.9-.5 40.5-.5 40.5-6.7-8.9c-11.1-15-16-18.5-25.5-18.5-12.6.1-23.9 12.4-21.8 23.9 1.1 6 27.4 66.9 33.7 77.9 1.6 2.9 6.5 9 10.9 13.6 4.3 4.6 8.3 9.5 8.9 11 .5 1.5 1 7.2 1 12.6 0 13.5 1.4 19.3 5.7 24.1 6.1 6.7 8.5 7 52 6.7l37.8-.3 4.5-2.5c3.4-1.9 5.2-3.8 7.3-7.9 2.5-5 2.7-6.4 2.7-17 0-6.4.4-13.2 1-15.1.5-1.9 3.9-6.9 7.5-11s7.5-9.5 8.6-12c3-6.7 4.1-17.5 3.7-36.4l-.3-16.8-2.9-2.5c-2.2-1.8-3.5-2.3-5.5-1.8-5.8 1.5-5.9 1.8-6.3 25.3-.4 25.1-.6 25.8-9.3 35.2-3.1 3.4-6.9 8.7-8.3 11.9-2.3 5-2.7 7.2-3.2 19.9-.4 11.2-.8 14.5-2 15.2-.9.6-16.6 1-37.6 1-28.4 0-36.4-.3-37.8-1.3-1.6-1.2-2-3.5-2.6-15.8-.9-18.2-1.9-20.6-13.5-32.8-7.6-8.1-9.4-10.7-14.2-20.9-10.5-22.3-26.4-59.7-26.5-62.5-.2-5.2 5.3-8.3 10.2-5.7 1 .6 8.3 9.4 16 19.8 7.8 10.3 15.1 19.5 16.2 20.4 2.7 2.4 5.9 2.3 9.2-.3l2.6-2v-51.8c0-50.9 0-51.9 2.1-54.5 2.5-3.2 7-3.5 9.9-.6 1.9 1.9 2 3.3 2 47.5v45.6l2.5 2.4c3.1 3.2 6.9 3.2 10 0l2.5-2.4v-50c0-36.1.3-50.7 1.2-52.6 1.3-2.8 4.5-4 8.1-3.1 4.6 1.1 4.7 2.7 4.7 55.7v50l2.5 2.4c3.1 3.2 6.9 3.2 10 0l2.5-2.4v-45.6c0-44.2.1-45.6 2-47.5 2-2 6.5-2.6 8.6-1.2 3.2 2.1 3.4 5.3 3.4 50v44.9l2.3 2.1c2.9 2.7 6.7 2.8 9.8.3l2.4-1.9.5-33.7c.5-31.9.6-33.7 2.4-35.1 2.7-1.9 5.9-1.8 8.7.5 2.4 1.9 2.4 2.1 2.7 25.3.3 22.1.4 23.4 2.4 25.5 3.5 3.8 8.9 2.9 11.3-1.8 1.8-3.4 2.1-40.9.4-48.8-2.2-10.3-12.4-17.9-22.8-16.9l-4.8.5-.7-6c-1.4-13.9-10.7-21.6-24.6-20.4-6.2.5-7 .4-7.5-1.3-.7-2.2-6.6-7-10.8-8.8-3.5-1.5-12.3-1.5-15.7.1z" />
                  </svg>
                  <span class="absolute left-0 top-0 h-full w-full bg-red-600 filter blur-[58px] z-n1 rounded-full"></span>
                </div>

                  <h3 class="text-5xl max-md:text-3xl text-black dark:text-white font-bold ml-4">Unidad</h3> <!-- Margen para separación del icono -->
                </div>
      
                <!-- Descripción -->
                <p class="text-4xl max-md:text-2xl max-md:text-justify text-black dark:text-white mb-4 lg:pl-16">
                  Promover y Potenciar la <span class="text-red-500 font-bold">Unidad</span> de la iglesia como agente clave para la transformación de las comunidades.
                </p>
              </div>
            </div>

             <div class="flex flex-col items-center ml-7 lg:-mt-40">
              <!-- Línea verde continua hacia arriba para conectar con el ícono -->
              <div class="h-28 w-0.5 bg-red-600"></div> 
            </div>

            <div class="mt-6 w-full">
              <img src="/portada.jpg" alt="Imagen de iglesia" class="rounded-lg w-[1200px]">
            </div>

            <div class="flex flex-col items-center ml-7 mt-0">
              <div class="h-52 w-0.5 bg-gradient-to-b from-red-600 to-blue-600"></div> <!-- Línea hacia arriba -->
            </div>

          </div>
        </div>
      </section>
      
        
      

</Layout>
