---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/iconoLogo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" id="astra-google-fonts-css" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C700%2Cnormal%7CAmatic+SC%3A700&amp;display=fallback&amp;ver=4.8.0" media="all">

		<!-- Ocultar contenido mientras se carga el tema -->
		<style>
			html {
				visibility: hidden;
				opacity: 0;
			}
		</style>

		<!-- Script para determinar el tema antes de mostrar el contenido -->
		<script>
			(function () {
				if (
					localStorage.theme === "dark" ||
					(!("theme" in localStorage) &&
						window.matchMedia("(prefers-color-scheme: dark)")
							.matches)
				) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}

				// Mostrar el contenido una vez que el tema se haya aplicado
				document.documentElement.style.visibility = "visible";
				document.documentElement.style.opacity = "1";
			})();
		</script>

		<!-- Soporte para usuarios sin JavaScript -->
		<noscript>
			<style>
				html {
					visibility: visible;
					opacity: 1;
				}
			</style>
		</noscript>
	</head>
	<body class="bg-white dark:bg-gray-900">
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
