---
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/iconoLogo.webp" />
		<link  rel="apple-touch-icon" href="/iconoLogo.webp">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Ocultar contenido mientras se carga el tema -->
		<style>
			html {
				visibility: hidden;
				opacity: 0;
			}

			@font-face {
				font-family: "Bebas Neue Bold";
				src: url("../../public/fonts/BebasNeue-Bold.woff") format("woff");
				font-weight: normal;
				font-style: normal;
			}

			@font-face {
				font-family: "Levenim MT";
				src: url("../../public/fonts/levenim-mt-2.woff") format("woff");
				font-weight: normal;
				font-style: normal;
			}
		</style>

		<!-- Script para determinar el tema antes de mostrar el contenido -->
		<script>
			(function () {
				if (
					localStorage.theme === "dark" ||
					(!("theme" in localStorage) &&
						window.matchMedia("(prefers-color-scheme: dark)")
							.matches)
				) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}

				// Mostrar el contenido una vez que el tema se haya aplicado
				document.documentElement.style.visibility = "visible";
				document.documentElement.style.opacity = "1";
			})();
		</script>

		<!-- Soporte para usuarios sin JavaScript -->
		<noscript>
			<style>
				html {
					visibility: visible;
					opacity: 1;
				}
			</style>
		</noscript>
	</head>
	<body class="bg-white dark:bg-black">
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
