---
const { url, scaleStart = 1.3, scaleEnd = 0.6 } = Astro.props;
---

<section
    class="h-screen flex items-center justify-center overflow-hidden my-12"
>
    <img src={url} class="animated-image w-full h-auto" />
</section>

<script type="module">
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.set(".animated-image", { scale: 1.3 });

    // Animación de escala
    gsap.to(".animated-image", {
        scale: 0.6, // Tamaño original
        scrollTrigger: {
            trigger: ".h-screen", // Elemento que activa el scroll
            start: "top top", // Inicia cuando la parte superior del elemento coincide con la parte superior de la ventana
            end: "bottom top", // Termina cuando la parte inferior del elemento alcanza la parte superior de la ventana
            scrub: true, // Permite un desplazamiento suave
            pin: true, // Fija el elemento durante el scroll
        },
        ease: "power1.out", // Efecto de suavizado
    });
</script>
