---
import { Image } from "astro:assets";
const { url , alt } = Astro.props;
---

<section
    class="h-screen hidden md:flex items-center justify-center overflow-hidden my-12"
>
    <Image
        src={url}
        alt={alt}
        width={700}
        height={700}
        class="animated-image w-full h-auto"
        loading="lazy"
    />
</section>
